@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
:root{
    --body-color: #E4E9F7;
    --navbar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #6e6e6e;
}

body {
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"head head head head"
                        "nav main main main"
                        "aside main main main"
                        "foot foot foot foot";
    margin: 0;
}


header {
    grid-area: head;
    height: 70px;
    text-align: center;
}

.navbar {
    background-color: var(--navbar-color);
}

.title {
    margin: 0;
    margin-top: 10.5px;
}





nav {
    grid-area: nav;
    background-color: red;
}

main {
    grid-area: main;
    background-color: var();
}

aside { 
    grid-area: aside;
    background-color: aqua;
}

footer {
    grid-area: foot;
    background-color: blue;
}